<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
      <% include ./partials/navbar.ejs %>
      <h2>About Us</h2>
    </main>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
